<!-- <p>add-book-fire works!</p> -->

<mat-toolbar>Add a New Book | Firestore</mat-toolbar>

<section>
    <form class="superContainer" #myForm="ngForm" [formGroup]="bookForm" (ngSubmit)="createBook()">
        <h2>Glassmorphing Contact Us Form</h2>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="title" id="title" required formControlName="title">
                    <span class="text">Title</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="text" name="author" id="author" required formControlName="author">
                    <span class="text">Author</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="number" name="price" id="price" required formControlName="price">
                    <span class="text">Price</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="url" name="imagePortada" id="imagePortada" required formControlName="imagePortada">
                    <span class="text">Image URL</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox textarea">
                    <textarea required="required" name="description" id="description" rows="5" formControlName="description"></textarea>
                    <span class="text">Description ...</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <input type="submit" value="submit" [disabled]="!myForm.form.valid">
            </div>
        </div>
    </form>
</section>
