<!-- <p>book-list works!</p> -->

<mat-toolbar>My Books | Firestore</mat-toolbar>
<div class="superContainer" *ngIf="allBooksFirestore != null || allBooksFirestore != undefined">
    
  <div class="box" *ngFor="let book of allBooksFirestore">
    <h2 class="name">
      {{ book.data.title }}
      <br>
      {{ book.data.author }}
    </h2>

    <a class="a buy" (click)="getBookDetails(book)">
      <span class="span">Book Details</span>
      <span class="span">Click Here</span>
    </a>
    
    <div class="circle"></div>
    
    <img (click)="getBookDetails(book)" src="{{ book.data.imagePortada }}" class="product">
  </div>

</div>

<!-- ----------------------------------------------------------------------------- -->

<mat-toolbar>All Books || RealTimeDB</mat-toolbar>

<div class="superContainer">

  <div class="box" *ngFor="let book of allBooksRealTimeDB_v2">
    <h2 class="name">
      {{ book.title }}
      <br>
      {{ book.author }}
    </h2>

    <a class="a buy" (click)="getBookDetailsRTDB(book)">
      <span class="span">Book Details</span>
      <span class="span">Click Here</span>
    </a>
    
    <div class="circle"></div>
    
    <img (click)="getBookDetailsRTDB(book)" src="{{ book.imagePortada }}" class="product">
  </div>

</div>
