<!-- <p>register works!</p> -->

<div class="body">
  <div class="superContainer">
      <div class="form">
          <h2>Registro</h2>
  
          <form>
              <div class="inputBox">
                  <input class="form-control" type="text" placeholder="Introduzca su nombre" [(ngModel)]="user.name">
              </div>

              <div class="inputBox">
                <input class="form-control" type="email" placeholder="Introduzca su email" [(ngModel)]="user.email">
            </div>
  
              <div class="inputBox">
                  <input class="form-control" type="password" placeholder="Introduzca su contraseña" [(ngModel)]="user.password">
              </div>
  
              <div class="inputBox">
                  <input type="submit" (click)="register()" value="Registrar">
              </div>
  
              <p>
                  ¿Ya tienes cuenta?
                  <a routerLink="/login">Acceder</a>
              </p>
          </form>
      </div>
  </div>
</div>