a {
    position: relative;
    padding: 4.5px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* margin: 10px; */
    transition: 1s;
    text-decoration: none;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
    width: 110px;
    height: 55px;
}

.button-details {
    border: 0;
    width: 100px;
    height: 80px;
    background: #fff;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: 30px;
    background: #0065c3;
}

a:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 400px;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

a:hover::before {
    width: 120%;
}

.router-link-active a:hover::before {
    width: 120%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    transition: 0.5s;
}

a:hover::after {
    background: var(--clr);
}

a span {
    position: relative;
    z-index: 1;
    font-size: 1.3em;
    color: #fff;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}

a:hover span {
    opacity: 1;
}

/************* details_v2 **************/

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    // width: 600px;
    width: 1000px;
    // height: 350px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: var(--background-color);
    transition: 0.5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}


.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83131;
    // clip-path: circle(120px at center);
    clip-path: circle(210px at center);
    transition: 0.5s;
}

.card:hover .circle::before {
    background: #0065c3;
    // clip-path: circle(400px at center);
    clip-path: circle(700px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    // left: 72%;
    left: 80%;
    height: 500px;
}

.card .content {
    position: relative;
    // width: 50%;
    width: 60%;
    left: 20%;
    // padding: 20px 20px 20px 40px;
    margin-top: 5%;
    margin-left: -35%;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.card .content p {
    color: #fff;
}

// .card .content a {
//     position: relative;
//     color: #fff;
//     padding: 10px 20px;
//     border-radius: 10px;
//     background: #fff;
//     color: #111;
//     margin-top: 10px;
//     display: inline-block;
//     text-decoration: none;
//     font-weight: 700;
// }

@media (max-width: 991px) 
{
    .card {
        width: auto;
        min-width: 350px;
        align-items: flex-start;
        margin: 10px;
    }   

    .card:hover {
        height: 600px;
    }

    .card .content {
        width: 100%;
        left: 0;
        padding: 30px;
    }

    .card:hover img {
        top: 70%;
        left: 50%;
        height: 300px;
    }
}

@media (max-width: 420px) 
{
    .card .content {
        padding: 20px;
    }
}
