<!-- <p>book-details works!</p> -->

<mat-toolbar *ngIf="esFirestore()"> Book Details | Firestore</mat-toolbar>

<div class="details" *ngIf="esFirestore()">
    <div class="card" *ngIf="book">
        <div class="circle"></div>
        <div class="content">
            <h2>{{book.data.title}}</h2>
            <p>{{book.data.description}}</p>
            <mat-list>
                <mat-list-item> <i class="material-icons">person_pin</i> Author:&nbsp;&nbsp;<b> {{book.data.author}}</b>
                </mat-list-item>
                <mat-list-item *ngIf="book.data.dateread"> <i class="material-icons">date_range</i> Date
                    Read:&nbsp;&nbsp;<b> {{book.data.dateread}}</b> </mat-list-item>
                <mat-list-item> <i class="material-icons">attach_money</i> Price:&nbsp;&nbsp;<b> {{book.data.price}}</b>
                </mat-list-item>
                <mat-list-item *ngIf="book.data.rate"> <i class="material-icons">star</i>
                    Rate:&nbsp;&nbsp;<b>{{book.data.rate}}</b></mat-list-item>
            </mat-list>
            <mat-card-actions>
                <button class="button-details" [routerLink]="['/book-list']"><a routerLinkActive="router-link-active"  style="--clr:#4da9ff;--i:0;"><span>All Books</span></a></button>
                <button class="button-details" (click)="getBookEditFire(book)" *ngIf="book.prestamo == null; else elseBlock"><a routerLinkActive="router-link-active"  style="--clr:#d6cd52;--i:0;"><span>Edit Book</span></a></button>
                <ng-template #elseBlock>
                    <button class="button-details" disabled (click)="getBookEditFire(book)"><a routerLinkActive="router-link-active"  style="--clr:#d6cd52;--i:0;"><span>Edit Book</span></a></button>
                </ng-template>

                <button class="button-details" (click)="getBookDeleteFire(book)"><a routerLinkActive="router-link-active"  style="--clr:#f86464;--i:0;"><span>Delete Fire</span></a></button>
                <button class="button-details" (click)="getBookDeleteRTDB(book)"><a routerLinkActive="router-link-active"  style="--clr:#ff8f44;--i:0;"><span>Delete RTDB</span></a></button>
                
                <button class="button-details" (click)="getBookBookingFire(book)" *ngIf="book.prestamo == null; else elseBlock2"><a routerLinkActive="router-link-active"  style="--clr:#d793ff;--i:0;"><span>Booking Fire</span></a></button>
                <ng-template #elseBlock2>
                    <button class="button-details" (click)="finalizarPrestamo(book.prestamo)"><a routerLinkActive="router-link-active"  style="--clr:#d793ff;--i:0;"><span>Devolver Libro</span></a></button>
                </ng-template>
            </mat-card-actions>
        </div>
        <img src="{{book.data.imagePortada}}">
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->

<mat-toolbar *ngIf="!esFirestore()"> Book Details | RealTimeDB</mat-toolbar>

<div class="details" *ngIf="!esFirestore()">
    <div class="card" *ngIf="book">
        <div class="circle"></div>
        <div class="content">
            <h2>{{book.title}}</h2>
            <p>{{book.description}}</p>
            <mat-list>
                <mat-list-item> <i class="material-icons">person_pin</i> Author:&nbsp;&nbsp;<b> {{book.author}}</b>
                </mat-list-item>
                
                <mat-list-item> <i class="material-icons">attach_money</i> Price:&nbsp;&nbsp;<b> {{book.price}}</b>
                </mat-list-item>
                <mat-list-item *ngIf="book.rate"> <i class="material-icons">star</i>
                    Rate:&nbsp;&nbsp;<b>{{book.rate}}</b></mat-list-item>
            </mat-list>
            <mat-card-actions>
                <button class="button-details" [routerLink]="['/book-list']"><a routerLinkActive="router-link-active"  style="--clr:#4da9ff;--i:0;"><span>All Books</span></a></button>
                <button class="button-details" (click)="getBookEditRTDB(book)"><a routerLinkActive="router-link-active"  style="--clr:#d6cd52;--i:0;"><span>Edit Book</span></a></button>
                <button class="button-details" (click)="getBookDeleteFire(book)"><a routerLinkActive="router-link-active"  style="--clr:#f86464;--i:0;"><span>Delete Fire</span></a></button>
                <button class="button-details" (click)="getBookDeleteRTDB(book)"><a routerLinkActive="router-link-active"  style="--clr:#ff8f44;--i:0;"><span>Delete RTDB</span></a></button>
            </mat-card-actions>
        </div>
        <img src="{{book.imagePortada}}">
    </div>
</div>