<!-- <p>lista-prestamos works!</p> -->

<mat-toolbar class="toolbar-title">Bookings List | Firestore</mat-toolbar>

<div class="superContainer">

  <section>

    <div class="box">
      <h3>Lista de Préstamos</h3>
      
      <div class="list" *ngFor="let prestamo of prestamos; let indice = index">
        <div class="imgBx">
          <img src="{{prestamo.data.customer_url}}">
        </div>

        <div class="content">
          <h2 class="rank"><small>#</small>{{ indice + 1 }}</h2>
          <h4>{{prestamo.data.customer_name}}</h4>
          <p>{{prestamo.data.customer_email}}</p>
        </div>

        <!-- ------------------------------------------- -->

        <div class="imgBx2">
          <img src="{{prestamo.data.book_imageUrl}}">
        </div>

        <div class="content2">
          <h4>{{prestamo.data.book_title}}</h4>
          <p>{{prestamo.data.book_author}}</p>
        </div>

        <!-- ------------------------------------------- -->

        <div class="content3">
          <h4>{{prestamo.data.date_booking.toDate()}}</h4>
          <p *ngIf="prestamo.data.date_end_booking != null">
            {{prestamo.data.date_end_booking.toDate()}}
          </p>
          <p *ngIf="prestamo.data.date_end_booking == null">
            <button type="button" (click)="finalizarPrestamo(prestamo)" class="btn btn-info m-1">Devolver</button>
          </p>
        </div>
      </div>
    </div>

  </section>

</div>