<!-- <p>add-customer works!</p> -->

<mat-toolbar>Add a New Customer | Firestore</mat-toolbar>

<section>
    <form class="superContainer" #myForm="ngForm" [formGroup]="customerForm" (ngSubmit)="createCustomer()">
        <h2>Glassmorphing Contact Us Form</h2>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="name" id="name" required formControlName="name">
                    <span class="text">Name</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="number" name="age" id="age" required formControlName="age">
                    <span class="text">Age</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="email" name="email" id="email" required formControlName="email">
                    <span class="text">Email</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="number" name="postalCode" id="postalCode" required formControlName="postalCode">
                    <span class="text">Postal Code</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="address" id="address" required formControlName="address">
                    <span class="text">Address</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="text" name="job" id="job" required formControlName="job">
                    <span class="text">Job</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="url" name="url" id="url" required formControlName="url">
                    <span class="text">Image URL</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox textarea">
                    <textarea required="required" rows="5" name="notes" id="notes" formControlName="notes"></textarea>
                    <span class="text">Description ...</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <input type="submit" value="Submit" [disabled]="!myForm.form.valid">
            </div>
        </div>
    </form>
</section>