<!-- <p>login works!</p> -->

<div class="body">
    <div class="superContainer">
        <div class="form">
            <h2>Login</h2>
    
            <form>
                <div class="inputBox">
                    <input class="form-control" type="email" placeholder="Introduzca su email" [(ngModel)]="user.email">
                </div>
    
                <div class="inputBox">
                    <input class="form-control" type="password" placeholder="Introduzca su contraseña" [(ngModel)]="user.password">
                </div>
    
                <div class="inputBox">
                    <input type="submit" (click)="login()" value="Login">
                </div>
                <div class="inputBox">
                    <input type="submit" (click)="loginWithGoogle()" value="Google">
                </div>
    
                <p>
                    ¿Aún no tienes cuenta?
                    <a routerLink="/register">Regístrate</a>
                </p>

                <div class="inputBox">
                    <input type="submit" (click)="getUserInfo()" value="Usuario Loggeado">
                </div>
                <div class="inputBox">
                    <input type="submit" (click)="logout()" value="Logout">
                </div>
            </form>
        </div>
    </div>
</div>