<!-- <p>edit-book-fire works!</p> -->

<mat-toolbar class="toolbar-title">Add a New Book | Firestore</mat-toolbar>

<section>
    <form class="superContainer" #values="ngForm" [formGroup]="bookForm" (ngSubmit)="updateBook()">
        <h2>Glassmorphing Contact Us Form</h2>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" placeholder="Book Title" name="title" id="title" formControlName="title" [class]="isValid('title')" required>
                    <span class="text">Title</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="text" placeholder="Book Author" name="author" id="author" formControlName="author" [class]="isValid('author')" required>
                    <span class="text">Author</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="number" placeholder="Book Price" type="number" name="price" id="price" formControlName="price" [class]="isValid('price')" required>
                    <span class="text">Price</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input placeholder="Image URL (enter image URL)" type="url" name="imagePortada" id="imagePortada" formControlName="imagePortada" [class]="isValid('imagePortada')" required>
                    <span class="text">Image URL</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox textarea">
                    <textarea name="description" id="description" rows="5" placeholder="Book Description" formControlName="description"></textarea>
                    <span class="text">Description ...</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <input type="submit" (click)="updateBook()" value="updateBook">
            </div>
        </div>
    </form>
</section>