<!-- <p>add-book-rtdb works!</p> -->

<mat-toolbar class="toolbar-title">   Add a New Book | RealTimeDB</mat-toolbar>

<section *ngIf="!submitted">
    <form class="superContainer" #myForm="ngForm">
        <h2>Glassmorphing Contact Us Form</h2>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="title" id="title" required [(ngModel)]="book.title">
                    <span class="text">Title</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="text" name="author" id="author" required [(ngModel)]="book.author">
                    <span class="text">Author</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="number" name="price" id="price" required [(ngModel)]="book.price">
                    <span class="text">Price</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="url" name="imagePortada" id="imagePortada" required [(ngModel)]="book.imagePortada">
                    <span class="text">Image URL</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox textarea">
                    <textarea required="required" name="description" id="description" rows="5" formControlName="description"></textarea>
                    <span class="text">Description ...</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <input type="submit" value="Submit" (click)="saveBook()" [disabled]="!myForm.form.valid">
            </div>
        </div>
    </form>
</section>