<!-- <p>add-book-rtdb works!</p> -->

<mat-toolbar>Add a New Book | RealTimeDB</mat-toolbar>

<!-- <div class="add-book-form" *ngIf="!submitted">
    <a [routerLink]="['/book-list']">Back</a>

    <form #myForm="ngForm">
        <mat-form-field class="full-width">
            <input matInput placeholder="Book Title" name="title" id="title"  required [(ngModel)]="book.title">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Book Author" name="author" id="author"  required [(ngModel)]="book.author">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Book Price" type="number" name="price" id="price"  required [(ngModel)]="book.price">
        </mat-form-field>

        <div>
            <mat-form-field class="full-width">
                <textarea matInput name="description" id="description" rows="5" placeholder="Book Description"  [(ngModel)]="book.description"></textarea>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Book Rate (1-5)" min="1" max="5" step="0.1" type="number" name="rate" id="rate"  [(ngModel)]="book.rate">
            </mat-form-field>
        </div>

        <mat-form-field class="third-width">
            <input matInput placeholder="Image URL (enter image URL)" type="url" name="imagePortada" id="imagePortada"  required [(ngModel)]="book.imagePortada">
        </mat-form-field>
        <br>

        <img src="{{book.imagePortada}}">
        <br>
        <hr>

        <button class="a" (click)="saveBook()" [disabled]="!myForm.form.valid">Save Book</button>

        <br><br>

    </form>
</div> -->

<section *ngIf="!submitted">
    <form class="superContainer" #myForm="ngForm">
        <h2>Glassmorphing Contact Us Form</h2>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="title" id="title" required [(ngModel)]="book.title">
                    <span class="text">Title</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="text" name="author" id="author" required [(ngModel)]="book.author">
                    <span class="text">Author</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="number" name="price" id="price" required [(ngModel)]="book.price">
                    <span class="text">Price</span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="col">
                <div class="inputBox">
                    <input type="url" name="imagePortada" id="imagePortada" required [(ngModel)]="book.imagePortada">
                    <span class="text">Image URL</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBox textarea">
                    <textarea required="required" name="description" id="description" rows="5" formControlName="description"></textarea>
                    <span class="text">Description ...</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <input type="submit" value="Submit" (click)="saveBook()" [disabled]="!myForm.form.valid">
            </div>
        </div>
    </form>
</section>